@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    background-color: rgb(19, 17, 17);
    font-family: "Poppins", sans-serif;
    color: white;
}
.bg{
    background-color: rgb(70, 68, 68);
}
h1{
    font-size: 80px;
    font-weight: 600;
}
h2{
    font-size: 50px;
    font-weight: 600;

}
h3{
    font-size: 30px;
    font-weight: 600;
}
.project:hover{
    background-color: rgb(33, 33, 35);
}
.changeBg{
    background-color: white;
}